body {
	font-family: Gill Sans Extrabold, sans-serif;
}

#content-disp {
    width: 1200px;
    height: 900px;
}

#img-canvace {
	float: left; width: 800px; display: block; margin-left: 10px; margin-top: 110px;z-index: 99;position: absolute;
}

#phonenumber {
	margin-top: 19px;font-size: 76px;font-weight: bold;margin-left: 700px;
    position: absolute;
}
#price_contents {
	margin-top: 114px;font-size: 30px;font-weight: bold;margin-left: 1050px;
    position: absolute;
}
#ttl_contents {
	margin-top: 522px;font-size: 30px;font-weight: bold;margin-left: 700px;
    position: absolute;color:#3E3F99;
}
#specs_contents {
	margin-top: 641px;font-size: 30px;font-weight: bold;margin-left: 819px;
    position: absolute;
}
#weblink {
	float: right;
    margin-right: 30px;
    margin-top: 858px;
    font-size: 20px;
    font-weight: bold;
    color: red;
}

#preview span:nth-child(1) img {
	width: 640px;
	height: 480px;
	margin-bottom: -4px;
}
#preview span:nth-child(2) img {
	width: 400px;
	height: 300px;
}
#preview span:nth-child(3) img {
	width: 400px;
	height: 300px;
}

#capitol {
  	color: #E0323B;
  	font-size: 50px;
}

#sheds {
  	color: #E0B528;
  	font-size: 50px;
}

#urlcom {
  	color: #E0323B;
  	font-size: 30px;
}

#data {
	display: inline-block;
}

#data .label-color {
	color: #009650;
	font-size: 35px;
	font-weight: bold;
}

#data .content-color {
	font-size: 25px;
	font-weight: bold;
}

#data .content {
	font-size: 18px;
	font-weight: bold;
	margin-left: 10%;
}

#data span.contents {
	font-size: 18px;
	color: #000000;
	font-weight: bold;
	margin-left: 10%;
}

#data #price_span, #cash_span {
	font-size: 18px;
	font-weight: bold;
	margin-left: 30px;
}
